/* CSS for nav bar and body as well as H1 tags */

* {
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

body {
  background: #0E2174;
  width: 80%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 0 auto;
  background-attachment: fixed;
  background: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 100, color-stop(0%, #4e5a66), color-stop(40%, #343b43), color-stop(95%, #22272c), color-stop(100%, #22272c)), #22272c;
  background: -webkit-radial-gradient(center top, farthest-side, #4e5a66, #343b43 40%, #22272c 95%, #22272c), #22272c;
  background: -moz-radial-gradient(center top, farthest-side, #4e5a66, #343b43 40%, #22272c 95%, #22272c), #22272c;
  background: -o-radial-gradient(center top, farthest-side, #4e5a66, #343b43 40%, #22272c 95%, #22272c), #22272c;
  -pie-background: -pie-radial-gradient(unsupported), #22272c;
  background: radial-gradient(center top, farthest-side, #4e5a66, #343b43 40%, #22272c 95%, #22272c), #22272c;
  background: -ms-radial-gradient(center top, farthest-side, #4e5a66, #343b43 40%, #22272c 95%, #22272c), #22272c;
  -pie-background: radial-gradient(center top, farthest-side, #4e5a66, #343b43 40%, #22272c 95%, #22272c);
  behavior: url("pie/PIE.htc");
  position: relative;
  background-size: 800px 200px;
  background-position: center -50px;
  background-repeat: no-repeat;
  padding: 0px
}

.three_little_lines-canvas {
  background: #000;
}


h1 {
  width: 100%;
  text-align: center;
  padding: 40px 0;
  font-family: "Comic Sans MS", cursive, sans-serif
  color: white;
  font-size: 60pt;
}

.open {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
.open:hover {
  opacity: 0.8;
}
.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: orange;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}
.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}
.open span:nth-child(2) {
  margin-top: 25px;
}
.open span:nth-child(3) {
  margin-top: 40px;
}

.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(38, 84, 133, 0.54);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}
.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.sub-menu li:first-child {
  margin-top: 180px;
}
.sub-menu li:nth-child(1) {
  -webkit-transition-delay: 0.05s;
}
.sub-menu li:nth-child(2) {
  -webkit-transition-delay: 0.10s;
}
.sub-menu li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
}
.sub-menu li:nth-child(4) {
  -webkit-transition-delay: 0.20s;
}
.sub-menu li:nth-child(5) {
  -webkit-transition-delay: 0.25s;
}
.sub-menu li a {
  color: #fff;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
}

.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
}
.oppenned span:nth-child(2) {
  overflow: visible;
}
.oppenned span:nth-child(1), .oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}
.oppenned span:nth-child(1) {
  transform: rotate(45deg) translateY(12px) translateX(12px);
}
.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(38, 84, 133, 0.54);
}
.oppenned span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px) translateX(10px);
}
.oppenned li {
  margin-right: 168px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: orange;
  background-color: transparent;
}

/* End of CSS for nav bar and body as well as H1 tags */
/* CSS of Website Title*/

#title {
  font-size: 3.5em;
  text-align: left;
  margin: 0px auto 0 auto;
  -webkit-transition-property:color, text;
  -webkit-transition-duration: 1s, 1s;
  -webkit-transition-timing-function: linear, ease-in;
  -moz-transition-property:color, text;
  -moz-transition-duration:1s;
  -moz-transition-timing-function: linear, ease-in;

  -o-transition-property:color, text;
  -o-transition-duration:1s;
  -o-transition-timing-function: linear, ease-in;
}

#title:hover {
  color: #26375A;
}

#hover {
  color: rgba(188, 175, 204, 0.9); 
}

h2#testimonials {
  color: rgb(94, 244, 177);
}

div#all {
  width: 100%;
}

/* generic css */
.view {
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff no-repeat center center
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;

}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    font-family: Raleway, serif;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    font-family: Raleway, serif;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

/*1*/

.view-first img { /*1*/
    transition: all 0.2s linear;
    width: 300px;
    height: 200px;
    float: left;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(155, 91, 52, 0.7);
    transition: all 0.4s ease-in-out;
    
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    font-family: Raleway, serif;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

/* */

.view-first:hover img { 
    transform: scale(1.1);
} 
.view-first:hover .mask { 
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}

/*2*/

.view-second img {  
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}
.view-second .mask { 
    background-color: rgba(12, 19, 27, 0.6); 
    width: 300px;
    padding: 105px;
    height: 200px;
    float: center;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    -webkit-transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.view-second h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-family: Raleway, serif;
    background: transparent;
    margin: 20px 40px 0px 40px;
   -webkit-transform: translate(200px, -200px);
    transform: translate(200px, -200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.view-second p { 
    transform: translate(-200px, 200px);
    -webkit-transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.view-second a.info { 
    transform: translate(0px, 100px);
    -webkit-transform: translate(0px, 100px);
    transition: all 0.2s 0.1s ease-in-out;
    -webkit-transition: all 0.2s 0.1s ease-in-out;
} 

/* */

.view-second:hover .mask { 
    opacity:1; 
    transform: translate(-80px, -125px) rotate(45deg);
    -webkit-transform: translate(-80px, -125px) rotate(45deg);
}                             
.view-second:hover h2 { 
    transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
    transition-delay: 0.3s; 
    -webkit-transition-delay: 0.3s; 
}
.view-second:hover p { 
    transform: translate(0px,0px); 
    -webkit-transform: translate(0px,0px); 
    transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
}
.view-second:hover a.info { 
    transform: translate(0px,0px); 
    -webkit-transform: translate(0px,0px); 
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
}

/*3*/

.view-tenth img { 
    transform: scaleY(1);
    transition: all .7s ease-in-out;
}
.view-tenth .mask { 
    background-color: rgba(255, 231, 179, 0.3); 
    transition: all 0.5s linear;
    opacity: 0;
}   
.view-tenth h2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    float: right;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
}
.view-tenth p {
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
    padding-
}
.view-tenth a.info { 
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}


.view-tenth:hover img { 
  -webkit-transform: scale(10);  
  transform: scale(10);
    opacity: 0;
}

.view-tenth:hover .mask { 
    opacity: 1;
}                                                                            
.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info{ 
    transform: scale(1);
    opacity: 1;
}

#choices {
  width: 900px;
  margin-top: 55px;
}

/* End of CSS of Website Title*/

/*Record on Podcast Page */

.disco {
  /*centrado de valor negativo*/
  cursor: wait;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 60px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
}

.disco--cover,
.disco--vinilo {
  position: absolute;
  width: 100%;
  height: 100%;
}

.disco--cover  {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/cover.jpg) no-repeat center center;
  border-radius: 3px;
  /*opacity: 0.5;*/
  z-index: 1;
}

.disco--cover::after,
.disco--cover::before {
  content: "";
  position: absolute;
}

.disco--cover::after {
  background: -webkit-linear-gradient(45deg, rgba(14,14,14,0.2)    20%,rgba(125,126,125,0.6) 100%); 
  width: 100%;
  height: 100%;
}

.disco--cover::before {
  background: rgba(0,0,0,1); /*#000 negro*/
  border-radius: 50%;
  box-shadow: -20px 12px 15px  rgba(0,0,0,0.85);
  bottom: 2px;
  width: 100%;
  height: 20px;
  z-index: -10;
}

.disco--vinilo {
 background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/vinilo.png) no-repeat center center;
  transform: translateX(25px) rotateZ(0deg);
  /*transition: transform 0.5s ease-out;*/
  animation: rotar 2s linear infinite;
}

@keyframes rotar {
  0%{
    transform: translateX(25px) rotateZ(0deg);
  }
  50%{
    transform: translateX(125px) rotateZ(180deg);
  }
  100%{
    transform: translateX(25px) rotateZ(360deg);
  }
}

/*.disco:hover > .disco--vinilo {
  transform: translateX(100px) rotateZ(35deg);
     -webkit-transform: translateX(100px) para navegador zafari i chrome creo
     -moz-
     -ms-
     -o-
*/

/*Columns*/

#content {overflow: auto;}

 #footer {
  margin-left: 55%;
  margin: 5%;
  float: center;
  padding-left: 400px;

}

.column1, .column2, .column3 {
  width: 29.0%;
  float: left;
  margin: 1%;
}

.column3 {margin-right: 0%}

li {
  display: inline;
  padding: 0.5em;
}

#footer {
  width: 80%;
  height: 10%;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 0 auto;
  background-attachment: fixed;
  position: relative;
  background-size: 800px 200px;
  background-position: center -50px;
  background-repeat: no-repeat;
  padding: 0px
  text-align:center;
}

#feature, .article {
  height: 10em;
  margin-bottom: 1em;
  background-color: #2C2C3A;
}
h5{
        width: 100px;
        height: 100px;
        background-color: #e1ddda;
        margin: 20px;
        display: inline-block;
      }


nav{
  margin:0 auto;
  width:1010px;
  padding-top: -30px;
}

nav ul{
  display: inline;
  list-style: none;
}

nav ul li{
  margin-right: 20px;
  float: left;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
  display: block;
}

nav a{
  color: #fff;
}

nav ul ul{
  display: none;
  position: absolute;
  padding: 0;
}

nav ul ul li{
  float: none;
  position:relative;
  width:94%;
}

nav ul li:hover > ul{
  display: block;
}

nav ul ul{
  display: none;
  padding: 0;
  position: absolute;
}

nav ul li:hover ul{
  display: block;
}

nav ul{
  display: inline-table;
  list-style: none;
}

nav ul li{
  float: left;
  margin-right: 20px;
}

nav ul ul li{
  float: none;
  padding:4px;
  text-align:center;
}

nav ul ul li:hover{
  float: none;
  padding:4px;
  background-color:orange;
  text-align:center;
}

nav ul{
  background-color: blue;
  padding:10px;
  border-radius: 10px ;
}

.menu-icon{
  width: 50px;
  display: none;
}

@media (max-width: 420px){
  nav ul{
    display: none;
    width: 70%;
  }
  nav ul li{
    float: none;
  }
  nav ul li ul{
    display: none !important;
  }
  nav ul li ul{
    display: none;
  }
  .menu-icon{
    display: inline-block;
  }

  .jt{
  margin:0 auto;
  width:500px;
}
